langchain
langchain-groq
langchain-community
langchain-openai

langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt

faiss-cpu
chromadb
tiktoken

sentence-transformers
langchain-huggingface
hf_xet

pypdf
pymupdf
python-docx
docx2txt

python-dotenv

matplotlib
numpy
